body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

h1, h3 {text-align: center;}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  text-align: center;
}

footer {
  background: #444;
  padding: 20px;
  position: relative;
  cursor: pointer;
  text-align: center;
}

img {
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

@media screen and (min-width: 1100px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


/* - */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #e3e3e3;
  position: relative;
}

ul li {
  display: inline-block;
}

ul li a {
  color: #292929;
  text-decoration: none;
  padding: 15px;
  display: block;
}

ul li:hover {
  background: lightgrey;
}

ul ul {
  position: absolute;
  min-width: 200px;
  background: lightgrey;
  display: none;
}

ul ul li {
  display: block;
  background: #e3e3e3;
}

ul li:hover ul {
  display: block;
}

ul li i {
  color: #292929;
  float: right;
  padding-left: 20px;
}

nav div {
  background: lightgrey;
  color: #292929;
  font-size: 24px;
  padding: 0.6em;
  cursor: pointer;
  display: none;
}

@media(max-width: 768px) {
  nav div {
        display: block;
  }

  ul {
        display: none;
        position: static;
        background: #e3e3e3;
  }

  ul li {
        display: block;
  }

  ul ul {
        position: static;
        background: #e3e3e3;
  }
}